server {
	listen 80 default_server;

	root /usr/share/nginx/html;
	index sindex.html index.html;

	add_header X-Served-By docker-nginx;

	server_name localhost;
	
	error_page 404 https://www.theuselesswebindex.com/error;
}
